* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    outline: none;
    border: none;
}






.navbar {
    background-color: rgb(254, 240, 255);
}

.navbar-brand {
    color: #8C6AC4;
    font-size: 40px;
    font-weight: bolder;
}

.navbar-brand:hover {
    color: #5E3FA3;
}








.hero-section {
    margin-top: 20px;
    background-color: #3b2962;
    height: auto;
    width: 100%;
}

.hero {
    height: 100vh;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.hero-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #EDE7F6;
    justify-content: center;
    align-items: center;
    animation: slideLeft 1.2s ease forwards;

    p {

        font-size: 14px;
        font-weight: 300;
        letter-spacing: 4px;
    }

    pre {
        font-size: 70px;
        font-weight: 500;
        font-family: 'Style Script', cursive;

        span {
            text-transform: uppercase;
        }
    }

    h4 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
    }

    button {
        margin-top: 10px;
        width: 100px;
        background: transparent;

        padding: 6px;
        border: 2px solid #8C6AC4;
        border-radius: 20px;

        a {
            color: #daddc5;
            text-decoration: none;
        }
    }

    button:hover {
        background-color: #3b2962;
    }

    button a:hover {
        color: #daddc5;
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width:700px) {

    .hero-content {

        pre {
            font-size: 50px;
        }

    }


}

.carousel-inner img {
    width: 500px;
    height: 585px;
}








#welcome {
    background-color: rgb(254, 240, 255);
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    padding: 3%;
    gap: 10%;
    flex-wrap: wrap;
}

.welcome_descp {
    flex: 1;
    padding-top: 1%;

    h1 {

        font-size: 34px;
        font-weight: 300;
        color: #3b2962;
        line-height: 1.5;

        text-align: center;
    }

    p {
        color: #283a2c;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        text-align: justify;
        padding: 2%;
    }
}

.welcome_image {
    img {
        border: 2px solid #283a2c;
        width: 500px;
        height: 400px;
    }
}

@media (max-width:700px) {
    .welcome {
        flex-direction: column;

        p {
            font-size: 12px;
        }

        img {
            width: 400px;
            height: 300px;
        }
    }


}







#services {
    margin: 7% 2%;

    h2 {
        font-size: 30px;
        color: #EDE7F6;
        line-height: 1.2;
        letter-spacing: 2px;
        background-color: #3b2962;
    }

    a {
        text-decoration: none;
    }


}

.services_heading {
    text-align: center;

    h1 {
        padding-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: #5E3FA3;
        line-height: 1.2;
        letter-spacing: 2px;
        /* margin: 50px; */
    }

    p {
        margin: 2% 10%;
        text-align: justify;
        font-size: 13px;
    }
}

.services_div {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    scrollbar-width: none;
}

.services_div:active {
    cursor: grabbing;
}

.services_box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 250px;
    padding: 20px;
}

.services_inner {
    border: 2px solid #3b2962;
    padding: 80px 20px;
    text-align: center;
}







#footer {
    background-color: #3b2962;

    h4 {
        text-align: center;
        color: #EDE7F6;
        font-size: small;
        padding: 10px;
    }
}

.main_footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    color: #5E3FA3;
    padding: 50px;
}

.footer_logo {

    align-items: center;
}

.footer_options {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main_footer a {
    text-decoration: none;
    color: #EDE7F6;
    font-size: 22px;
}

.main_footer a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #8C6AC4;
}

.footer_contact {
    display: flex;
    gap: 20px;

    a:hover {
        filter: drop-shadow(5px 5px 10px #EDE7F6)
    }
}







#main_cards {
    margin: 10% 2%;
    text-align: center;
}

.cards_heading {
    h1 {
        font-size: 40px;
        font-weight: 300;
        color: #3b2962;
        line-height: 1.2;
        letter-spacing: 2px;

    }

    p {
        margin: 2% 10%;
        text-align: justify;
        font-size: 13px;
    }
}

.product {
    padding: 0 20px;

    a {
        text-decoration: none;
        background-color: rgb(254, 240, 255);
        padding: 10px;

        img {
            height: 300px;
        }
    }

    li {
        background-color: rgb(254, 240, 255);
    }

    button {

        color: #EDE7F6;
        background-color: #3b2962;
        border-color: #3b2962;
    }

    button:hover {
        background-color: #8C6AC4;
        color: #3b2962;
    }
}

.product-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}









#main_cart .cart_table {
    margin: 20px 110px;
    background-color: rgb(254, 240, 255);

    th {
        width: 600px;
        background-color: #3b2962;
        color: #EDE7F6;
        text-align: left;
        padding: 20px 10px;
        border-bottom: .5px solid;
        font-size: 20px;
    }

    td {
        padding: 20px 0;
        border-bottom: .5px solid;
        vertical-align: top;

        input {
            background-color: rgb(254, 240, 255);

        }
    }
}

.cart_heading {
    margin-top: 100px;
    text-align: center;
    color: #3b2962;
}

.cart_img img {
    width: 100px;
    padding: 10px;
}

.detail {
    padding-left: 20px;

    a {
        color: gray;
        font-size: 17px;
    }

    a:hover {
        color: #3b2962;
    }
}






#cart_total {
    margin: 20px 110px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total_checkbox {
    margin: 20px 0;
}

.total_amount {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total_checkout {
    display: flex;
    flex-direction: column;

    button {
        width: 400px;
        height: 35px;
        color: #EDE7F6;
        background-color: #3b2962;
        border-color: #3b2962;
        margin: 20px 0;
    }

    button:hover {
        background-color: #8C6AC4;
        color: #3b2962;
    }
}






.main_form {
    background-color: #5a4a7e;
    height: 100vh;
}

.formcont {
    margin-top: 40px;
    border: 2px solid #3b2962;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    h1 {
        font-size: 40px;
        font-weight: bold;
        color: #3b2962;
        line-height: 1.5;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            width: 400px;
            height: 30px;
            background-color: #8C6AC4;
            border-radius: 2px;

        }

        input::placeholder {
            padding: 5px;
            color: #f1efec;
        }

        textarea {
            background-color: #8C6AC4;
            border-radius: 2px;
        }

        textarea::placeholder {
            padding: 5px;
            color: #f1efec;
        }

    }

    button {
        width: 400px;
        height: 35px;
        color: #EDE7F6;
        background-color: #3b2962;
        border-color: #3b2962;
        margin: 20px 0;
    }

    button:hover {
        background-color: #8C6AC4;
        color: #3b2962;
    }
}









#main_product {
    display: flex;
    margin: 100px 120px;
}


#main_proimages {
    width: auto;
    height: auto;

}

#pro_desc {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h5 {
        color: #3b2962;
        font-weight: bold;
    }
}

.desc_watch {
    display: flex;
    gap: 10px;

    p {
        color: gray;
    }
}


.desc_quantity {
    div {
        padding: 20px 0;
        display: flex;

        input {
            width: 100px;
            height: 40px;
            text-align: center;
            margin-right: 20px;
            border: 1px solid gray;
            border-radius: 3px;
        }

        button {
            width: 200px;
            height: 40px;
            color: #EDE7F6;
            background-color: #3b2962;
            border-color: #3b2962;

        }

        button:hover {
            background-color: #8C6AC4;
            color: #3b2962;
        }

    }


}


.desc_detail {
    div {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 0;
    }
}